{% load staticfiles %}
<html>
    <head>
        <title>Book Store</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="{% static 'css/store.css' %}"> -->
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Book Store</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
<footer class="page-footer font-small blue pt-4 mt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">   
                <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase"><a href="/">Book Store</a></h5>    
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3">
              <h5 class="text-uppercase">Links</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="/admin">Admin Page</a>
                </li>
                <li>
                  <a href="/edit-books">Edit Page</a>
                </li>
              </ul>
            </div>
          </div>    
        </div>
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="http://djstars-test.holdbar.pp.ua"> djstars-test.holbar.pp.ua</a>
        </div>     
      </footer>
</html>