{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h5>Add new book:</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Add</button>
            </div>
        </form>
        <hr/>
    </div>
    <div class="container">
        <h5>Edit books:</h5>
        {% for form in forms %}
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="pk" value="{{ form.0 }}">
                        {{ form.1.as_p }}
                        <button type="submit" class="save btn btn-default">Save</button>
                    </div>
                </form>
            </div>
    </div>
    {% endfor %}
{% endblock %}
